<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Bonjour,
      <br>
      Vous trouverez ci-dessous un lien vers votre facture 
      <%= @facture.compte.organisation.nom %>
      <br>
      <%= link_to "#{@facture.réf}", facture_url(@facture, format: :pdf) %>
      <br>
      Le total de votre facture est de <%= @facture.montant %> Euros.
      <br>
      Nous vous remercions de votre confiance.
      <br>
      L'équipe <%= @facture.organisation.nom %>
    </p>
  </body>
</html>