<h1>Bienvenue !</h1>

<p>Votre compte PrestFacto a bien été activé. Nous vous remerçions pour votre confiance. Nous sommes à votre écoute si besoin à cette adresse : <%= mail_to 'contact@prestofacto.fr' %> </p>

<p><%= link_to "Accéder à mon compte", new_user_session_url %></p>