<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2 class="fw-light"><%= fa_icon 'calendar-day' %> Comptabilisation des prestations consommées</h2>
</div>

<pre>
  <%= simple_format(@stdout_stream) %>
</pre>