<tr>
  <td><%= mail_log.to %></td>
  <td><%= mail_log.subject %></td>
  <td><%= time_ago_in_words mail_log.created_at %></td>
  <td>
    <% if mail_log.created_at > 5.days.ago %>
      <% if status_ko %>
        <span class="text-danger">KO</span>
      <% else %>
        <span class="text-success">OK</span>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if mail_log.created_at > 5.days.ago && !status_ko %>
      <% if status = @result_opened["items"].find{|item| item["message"]["headers"]["message-id"] == mail_log.message_id } %>
        <span class="has-text-info">OUVERT</span>
      <% end %>
    <% end %>
  </td>
  <td><%= link_to 'Voir', mail_log %></td>
</tr>