<footer class="mt-5 text-center text-sm-left">
    <ul class="list-unstyled">
      <li class="text-muted">
        PrestoFacto est développé et maintenu par
        <%= link_to "Philnoug Consulting'", 'https://www.philnoug.com', target: '_blank' %>
      </li>
    </ul>
</footer>