<footer class="mt-5 text-center text-sm-left">
    <ul class="list-unstyled">
      <li class="text-muted">
        PrestoFacto est un service édité par Ph.NOUGAILLON - Siret : 384 396 719 00047 - APE : 5829C
      </li>
    </ul>
</footer>