<h2 class="fw-light mt-4">
    <%= fa_icon 'child', class: 'text-primary' %> 
    Éditer Compte
</h2>

<%= render 'form', compte: @compte %>

<%= link_to 'Voir', @compte %> |
<%= link_to 'Retour', comptes_path %>
