<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><i class="fas fa-child"></i> 
    Ajouter un enfant au compte 
    '<%= @enfant.compte.nom %>'
  </h2>
</div>
<br>

<%= render 'form', enfant: @enfant %>
