<div class="px-4 mb-4 text-center">
  <h1 class="display-5">Politique de confidentialité</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead fw-lighter">
      Vous avez une question ou vous souhaitez que l'on vous contacte ?
      <br>Vos remarques et propositions sont les bienvenues 
      <br>et nous aident à améliorer l'application.
    </p>
  </div>
</div>

<div class="content p-6">
  <p>
    1. Conservation et Utilisation de vos données personnelles
  </p>

  <p>
    Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par reseau-RRRRRRNNNNNNLMMMMMMMAAAAAA pour communiquer les informations liées à Question de Ville et au RRRRRRNNNNNNNNNMMMMMMMMMAAAAAAAA.
    Elles sont conservées pendants 10 ans et sont destinées à Question de ville établis au sein de l’Union européenne.
    Ce fichier est accessible uniquement par les administrateurs du site au sein du RRRRRRRNNNNNNNNNNMMMMMMMMMAAAAAA.
    Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d’accès aux données vous concernant et les faire rectifier en contactant :  contact@reseau-RRRRRRNNNNNNLMMMMMMMAAAAAA.fr  (cf. §3.1).
  </p>


  <p>
    2. Consentement et Traitement de vos données personnelles
  </p>

  <p>
    En cochant la case de consentement obligatoire avant soumission de chaque formulaire du site web http://www.RRRRRRNNNNNNNNNMMMMMMMMMAAAAAAAA.fr (« J’autorise le RRRRRRNNNNNNNNNMMMMMMMMMAAAAAAAA à me contacter de façon personnalisée. Vos données personnelles ne seront jamais communiquées à des tiers. ») vous autorisez explicitement le stockage et le traitement de vos données dans le but de vous faire connaître nos services.
    Vous autorisez : le RRRRRRNNNNNNNNNMMMMMMMMMAAAAAAAA à vous contacter pour toute information ou proposition de service.
    Vous ne souhaitez pas donner votre consentement ? Contactez-nous par voie postale : .
  </p>


  <p>
    3. Retrait du Consentement concernant vos données personnelles
  </p>

  <p>
    3.1. Droit d’accès à vos données personnelles
  </p>

  <p>
    Vous disposez d’un droit d’accès, de modification et/ou de suppression des données vous concernant à tout moment en contactant notre service informatique :
    Par voie postale : . Idéalement, en recommandé avec accusé de réception.
    Sur place dans nos locaux : avec présentation d’une pièce d’identité. La CNIL précise : « Il est possible de se faire accompagner par la personne de son choix. La consultation doit durer suffisamment longtemps pour prendre note commodément et complètement. Il est possible de demander une copie des données ».
    Le responsable du fichier dispose d’un délai de réponse maximal de 2 mois à compter de la demande, qu’elle ait été exercée par voie postale ou sur place. La CNIL précise : « Si la demande est incomplète (absence de la pièce d’identité par exemple), le responsable du fichier est en droit de demander des compléments : le délai est alors suspendu et courre à nouveau une fois ces éléments fournis ».
    Les limites au droit d’accès sont précisées sur le site de la CNIL et consultables en cliquant ici.
  </p>

  <p>
    3.2. Modification de vos abonnements
  </p>

  <p>
    Vous pouvez aussi modifier librement vos abonnements à nos communications en cliquant sur « Modifier mes préférences » en bas de chacune de nos communications envoyées par e-mail.
    Pour vous désabonner de toutes les communications dereseau-RRRRRRNNNNNNLMMMMMMMAAAAAA, vous devez cliquer sur le lien de désabonnement qui se situe en bas de nos e-mails. Vous pourrez ensuite choisir :– de modifier vos préférences de réception de nos communications– de vous désabonner de toutes les communications marketing et commerciales jusqu’à nouvelle soumission de votre consentement sur le site internet.
  </p>

</div>