<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><i class="fas fa-file-import"></i> Importer données XLS</h2>
</div>

<pre>
    <% @messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>
</pre>