<h1>Un nouveau message via 'Nous contacter' est arrivé</h1>

<p>
  <strong>De : </strong>
  <%= @message.email %>
</p>

<p>
  <strong>Objet : </strong>
  <%= @message.objet %>
</p>

<p>
  <strong>Message : </strong>
  <%= @message.contenu %>
</p>
