/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

nav.navbar ul li.nav-item {
  *{
    color: #222;
  }
  a, a:after, a:before {
    transition: all .5s;
  }
  a{
  position: relative;
  }
  a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
  }
  a:hover:after {
    width: 100%;
  }
  &:hover{
    *{
      color: #555;
    }
  }
  &.active{
    *{
      // Ça ne change pas la couleur des logo fontawesome dans le back parce qu'ils ont une classe 'text-...' (c'est voulu)
      color: #555;
    }
    a:after{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      content: '.';
      color: transparent;
      background: #aaa;
      height: 1px;
    }
  }
}

.table{
  thead, tfoot{
    th, td{
      // bg-slate-100
      background-color: #f1f5f9;
    }
  }
  tbody{
    tr{
      vertical-align: middle;
    }
  }
}

/* aligner les icones dans la navbar mobile */
@media (max-width: 768px) {
  .pf-icon {
    width: 22px;
  }
}