// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.sortlink-style{
  font-weight: 400 !important;
  font-size: 14px;
  vertical-align: middle;
}

html{
  scroll-padding-top: -200px !important;
}